.main{
    min-height: 100vh;
    display:flex;
    align-items: center;
    background-image: url("../background1.jpg");
    background-position: center;
    background-size: cover;
}
.title{
    
    font-size: 5rem;
    font-weight: bold;
    color: #682451;
}
.subtitle{
    font-size: 25px;
    padding-top: 10px;
    font-weight: bolder;
}

.intro-text{
    width: 100%;
    text-align: center;
}



@media only screen and (min-width:1200px){
    .buttonContainer{
        padding: 0 200px;
    }
    .title{
        padding: 0 100px;
    }
}
@media only screen and (max-width:1260px){
    .title{
       font-size: 60px;
    }
    .landingbutton{
        width: 150px;
        height: 50px;
    }

}



